# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
*.so

# Virtual envs
.venv/
venv/
env/
ENV/

# Env secrets
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log
logs/

# Database
*.db
*.sqlite3
